    /* Partes não comentadas já foram comntadas em outro CSS, apenas se repetem*/
  body {
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
    font-weight: lighter;
    text-align: center;
  }

  .principal {
    margin-top: 11%;
  }

  .superior {
    background-color: black;
  }

  .superior_inferior {
    background-color: #585656;
    max-height: 25px;
  }

  a:link {
    color: black;
    text-decoration: none;
  }

  a:visited {
    color: grey;
  }

  #inferior {
    background-color: #585656;
    color: #000000;
    padding: 10px;
    text-align: center;
    margin-top: 6%;
  }
  
  .logo {
    max-block-size: 70px;
    margin-top: 0px;
    margin-bottom: 8px;
  }

  t {
    margin-right: 10px;
  }

  .barra {
    float: right;
    margin-right: 10px;
  }

  .menu {
    float: left;
    margin-left: 10px;
  }

  /* Define a cor de fundo, a altura mínima, a largura máxima e a margem do topo */
  th hr {
  background-color: #000000;
  min-height: 1px;
  max-width: 60%;
  margin-top: 0%;
  }

  /* Define a margem do topo */
  h1 {
  margin-top: 4%;
  }

  /* Define a largura máxima, a margem do topo, a margem inferior, a margem esquerda, a fonte e deixa o texto fino */
  .margem {
  max-width: 62%;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 19%;
  font-family:'Times New Roman', Times, serif;
  font-weight: lighter;
  }

  /*Define a largura máxima da imagem */
  th img {
  max-width: 400px;
  }

  /* Remove o preenchimento, alinha o texto, define a margem direita e a margem esquerda, a margem inferior, a fonte e deixa o texto fino */
  .margem_2 {
  padding: 0;
  text-align: justify;
  margin-right: 20%;
  margin-left: 0%;
  margin-bottom: 2%;
  font-family:'Times New Roman', Times, serif;
  font-weight: lighter;
  }

/* Remove o preenchimento, alinha o texto, define a margem direita e a margem esquerda, a margem inferior, a fonte e deixa o texto fino */
  .margem_3 {
  padding: 0;
  text-align: justify;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 2%;
  font-family:'Times New Roman', Times, serif;
  font-weight: lighter;
  }

  /* Define a margem direita */
  table {
  margin-right: 20px;
  }